/**Con display flex se ordenan los elementos en horizontal
Con space-between se acomodan en los extremos
m0: abreviación de emmet para margen 0 (eliminarlos)*/

body {
    font-family: Arial;
    margin: 0;
}

header {
    display:flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(52, 74, 74);
    padding: 10px;
}

.logotipo {
    display:flex;
    align-items: center;
    color:rgba(180, 207, 251, 0.552);
}

.logotipo img{ 
    height: 70px;
    margin-right: 10px;
}

a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration-line: none;
    padding-right: 5px;
}

.menu a{
    position:relative;
}

.menu a::before {
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width:95%;
    height: 2px;
    background: linear-gradient(to right, #2cb7f8, #4e96f6, #95a5f7);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
}

.menu a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}

@media (max-width: 700px) {
    header {
        flex-wrap: wrap;
        min-height: 70px;
    }
    .menu a {
        position: relative;
        display:flow-root;
        padding-top: 7px;
        font-size: 12px;
    }

    .logotipo img {
        height: 60px;
    }
}


.aiuda {
    display:flex
}

.rectangulo {
    position: relative;
    width: 300px;
    height: 640px;
    background-color: rgba(76, 113, 101, 0.8);
}

.nombre{

    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: center;

}

.fotodni {
    border-style:solid;
    border-color: rgb(74, 73, 73);
    border-radius: 5px;
    margin-top: 50px;
    position: relative;
    left: 30px;
}

#subtitles {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    font-size: medium;
    text-decoration:underline;
    padding: 13px;
}

#descripcion {
    font-style: oblique;
    margin-left: 10px;
    padding-right: 5px;
}

.rectangulo li{
    list-style-type:square;
    line-height: 22px;
}

.inforelevante{
    font-weight: bold;
    text-decoration-line: underline;
    font-size: larger;
    margin-left: 100px;
    margin-top: 60px;
}

.cuadrado {
    height: 640px;
    width: 100%;
    background:#bccfce;
}

.cuadrado ul {
    font-size: medium;
    margin-left: 120px;
    line-height: 40px;
}

.inforelevante svg {
    height: 17px;
    width: 17px;
    padding-right: 10px;
}

.formulario {
    width: 490px;
    height: 640px;
    background-color: rgb(41, 55, 61);
    padding-left: 15px;
    }

    .formulario h4 {
        font-size: 23px;
        color: rgb(255, 255, 255);
        display: flex;
        font-weight:bolder;
        justify-content: center;
    }

    .formulario__label {
        font-size: small;
        font-weight: 700;
        padding-top: 25px;
        display:block;
        color: rgb(255, 255, 255)
    }

    .formulario__grupo-input {
        position: relative;
    }

    .formulario__input {
        width:80%;
        background: #fff;
        border: 3px solid transparent;
        border-radius: 3px;
        height: 20px;
        line-height: 20px;
        padding: 0px 25px 0px 5px;
        transition: .3s ease all;
    }

    .formulario__input:focus {
        border: 3px solid #127a72;
        outline: none;
        box-shadow: 0px 2px 2px rgba(76, 113, 101, 0.8)
    }

    .formulario__input-error {
        font-size: 12px;
        margin-bottom: 0px;
        display: none;
    }

    .formulario__input-error-activo {
        display: block;
        color: rgb(231, 87, 87);
    }

    .formulario__validacion-estado {
        position: absolute;
        right: 8px;
        bottom: 5px;
        z-index: 100px;
        font-size: 16px;
    }

    .formulario__checkbox {
        margin-right: 5px;
    }

    .formulario__grupo-btn-enviar {
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    #grupo__terminos {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .formulario__btn {
        height: 30px;
        width: 30%;
        background: rgb(9, 85, 77);
        color: #fff;
        font-weight: bolder;
        border-radius: 3px;
        cursor: pointer;
        border: none;
        transition: .2s ease all;

    }

    .formulario__btn:hover {
        background-color: #0cabab;
    }

    .formulario__mensaje-exito {
        font-size: 14px;
        color:antiquewhite;
        display:none;
    }

    .formulario__mensaje-exito-activo {
        display:block;
        color: rgb(182, 232, 107);
        font-weight: 700;
    }
